body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}
nav a {
    color:red;
}
main {
    flex:1;
}
#sidebar {
    display: flex;
    justify-content: space-between;
 }