body {
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    background-image: url(bar.jpg);
    color:white;
    background-size: cover;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "sidebar center center"
                         "footer footer footer";
}
aside {
    grid-area: sidebar;
    padding: 10px;    
}
nav {
    width:100%;
    display: flex;
    grid-area:nav;
    padding: 10px;
    gap:10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a{
    display: block;
    padding:10px 20px;
    flex:1;
    min-width: 100px;
    text-decoration: none;
}
nav a:hover {
    color: red;
    text-decoration: underline;
}
.profileContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
}
.profileCard {
    flex: 1 1 calc(30% - 20px);
    max-width: 400px;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    box-shadow:2px 2px 5px rgb(173, 23, 23);
}
.profileCard .image {
    width: 100%;
    height: 300px;
    background-image: url('Beach.png');
    background-size: cover;
    background-position: center;
}
header {
    grid-area: header;
}
main {
    grid-area: center;
}
footer {
    grid-area: footer;
    padding: 20px;
}
.footerLinks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}
.footerLinks a {
    display: block;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}
.footerLinks a:hover {
    background-color: brown;
    color: yellow;
    text-decoration: none;
}