body {
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: "header header header"
                         "sidebar center center"
                         "nav nav nav"
                         "footer footer footer";
}
aside {
    grid-area: sidebar;
    padding: 10px;    
}
nav {

    grid-area:nav;
    padding: 10px;
    gap:10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a{
    display: block;
    padding:10px 20px;
    flex:1;
    min-width: 100px;
}
nav a:hover {
    color: red;
}
.profileContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.profileCard {
    flex: 1 1 calc(30% - 20px);
    max-width: 400px;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    
    overflow: hidden;
}
.profileCard .image {
    width: 100%;
    height: 300px;
    background-image: url('beach.png');
    background-size: cover;
    background-position: center;
}

/*
.profileCard .content {
    padding: 10px;
    text-align: center;
    width: 100%;
}
.profileCard h2 {
    margin: 5px 0;
    font-size: 18px;
}
.profileCard p {
    font-size: 14px;
    color: gray;
}
*/
header {
    grid-area: header;
}
#rside {
    grid-area: lside;
    background-color: beige;
}
footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
}
.footerLinks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
}
.footerLinks a {
    display: block;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}
.footerLinks a:hover {
    background-color: brown;
    color: yellow;
}

main {
    grid-area: center;
}
.parent {
    background-color: aqua;
    padding: 10x;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    gap: 5px;
}
    /*每行的大小和数量改变
        grid-template-columns: 1fr 6fr 1fr;中间link变大
    grid-template-columns: 1fr 1fr 1fr; 平均填满
    grid-template-columns: 15% 15% 33%;
    grid-template-columns: 50px 50px; 数量变化
    grid-template-columns: 50px 50px 50px; 数量变化
    */
.child {
    background-color: purple;
}