body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    background-color: pink;
}
header {
    background-color: rgb(176,165,231);
}
header h1 {
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}
nav a {
    display: block;
    padding: 10px;
    background-color: blue;
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color:blue;
    background-color: white;
}
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    border: thin solid black;
    box-shadow: 3px 3px 3px rgba(40,40,40,0.5);
    width: 300px;
}
.card figure {
    margin:0;
}
.card img {
    width:100%;
}
main {
    display: flex;
}

@media ONLY screen AND (max-width: 900px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 20px;
        width: 90%;
    }
    .feature {
        order: -1;
    }
}

@media ONLY screen AND (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    nav a {
        border-bottom: thin solid white;
    }
}
/*页面拉伸变小后到600px时候header应用黑色。*/
/*@media ONLY screen AND (max-width: 600px) {
    header {
        background-color: black;
    }
}*/