body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('blueAndWhite.jpg') black;
    /*
    background-color: black;
    background-image: url('');
    */
}
nav {
    color: white;
}
main {
    color:white;
}
.mylist {
    list-style-image: url('sunflower.jpg')
    /*list-style-type: none;*/

}
header {
    color: white;
    background: url('yellow.jpg') top right no-repeat;
    /*
    background-image: url('');
    background-position: top right;
    background-repeat: no-repeat;
    */
}