body {
    font-family: Arial, Helvetica, sans-serif;
}
.schedule {
    /*border: 3px solid black;
    box-shadow: 3px 3px 3px rgba(30,30,30,0.5);*/
    caption-side: bottom;
    border-spacing: 0;
    /*border-spacing: 10px;*/
    border-collapse: collapse;
    /*放这里全部背景被填充background-color: rgb(58, 106, 238);*/
}

.schedule th, .schedule td {
    /*border: thin solid black;*/
    padding: 10px;
    vertical-align: middle;/*变化？*/
    /*border-bottom:  thin solid black;*/
}
.schedule thead tr{
    background-color: aquamarine;
    color: rgb(13, 16, 104);
}
.schedule tfoot tr{
    background-color: aquamarine;
    color:  rgb(13, 16, 104);
}

.schedule tbody tr:nth-child(even) {
    background-color: rgb(142, 149, 169);
}
main p:first-letter {
    font-size:30px;
    color: red;
}

/*.schedule tr {/*可以去掉。。。tr ,把背景色加到 th，td 那里也以*/
    /*background-color: rgb(142, 149, 169);
}