body {
    font-family: Arial, Helvetica, sans-serif;
        color:black;
        font-size: 12pt;
        background-color:#8292A7
}
#underline {
    text-decoration:underline;
}
.pink {
    color:#FFD8C1;
    font-size: 13pt;
}
.green {
    color:#B6DBA6
}
.highLight {
    font-weight: bold;
}